 <!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<!-- edit to add your site name -->
	<b>Mail sent via Your Site Name - Contact US</b>
    <p>
		<%= @sender %>
    </p>
	<p>
		<%= @message %>
	</p>
  </body>
</html>


